# Default values for go-sample-site.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

env: dev31

ingressClassName: koderover-admin-nginx

image:
  repository: ccr.ccs.tencentyun.com/trial/go-sample-site
  pullPolicy: IfNotPresent
  tag: 0.1.0

newImage:
  image: 
    repository: ccr.ccs.tencentyun.com/trial/go-sample-site-1
    pullPolicy: IfNotPresent
    tag: 0.1.0 

imagePullSecrets:
  - name: default-registry-secret

nameOverride: 
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080
  port2: 8000  
  preset1: $T-Service$
  presetProjectName: $T-Project$

parent:
  child1: 
    son: hello


github:
  knownHost:
  sshKey:
